@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/minecraft-3');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;
    background-size: cover;
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(29, 38, 113, 0.3)), url("assets/hero-bg.png");
    background-position: center;
    position: relative;
}

.hero-links {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.hero-links li {
    list-style-type: none;
}

.hero-links a {
    padding: 10px 10px;
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: .3s all;
    position: relative;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.hero-links a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
    transition: .3s all;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
  
.hero-links a:hover:after {
    width: 100%;
}

.hero-title {
    padding: 30px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title h1 {
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.hero-title img {
    width: 100%;
}

.content {
    padding: 50px 20%;
    padding-bottom: 0;
}


.article {
    display: flex;
    flex-direction: column;
}

.article h1 {
    margin-bottom: 10px;
}

.article p {
    line-height: 1.5;
}

.article a {
    font-weight: 600;
    color: #2e70c5;
}

.warning {
    margin: 40px 20%;
    padding: 60px 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.warning a {
    font-weight: 600;
    color: #2e70c5;
}

.text {
    padding-left: 30px;
}

footer {
    padding-top: 20px;
    height: 200px;
    background-color: #101010;
}

footer p {
    margin: 60px 50px;
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .content {
        margin-top: 30px;
        padding: 0 10%;
    }

    .warning {
        margin: 40px 10%;
    }
}