@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800&display=swap');

.loader {
    margin: 70px 0px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #FEAD00;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

img {
    margin-bottom: 50px;
    width: 90px;
}
